@font-face {
  font-family: partyFont;
  src: url(./assets/Mario-Party-Hudson-Font.ttf);
}

body{
    font-family: partyFont;
    font-size: 30pt;
    font-weight: lighter;
}

.ordinal{
    font-size: 70pt;
}

.value{
    font-size: 60pt;
}